body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.marco {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

input, select, button {
    width: 80%;
    padding: 10px;
    margin: 10px ;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: blue;
    color: white;
    border: none;
}

button:hover {
    background-color: white;
}

#resultado {
    background-color: white;
    color: black;
    margin-top: 20px;
    font-size: 20px;
}